<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 shadow-sm">
    <a class="navbar-brand fw-bold" routerLink="/dashboard">Sistema de Empresas</a>

    <button
        class="navbar-toggler"
        type="button"
        (click)="toggleMenu()"
        aria-controls="navbarNav"
        [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarNav">
        <!-- Menu principal -->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/empresas" routerLinkActive="active">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuários</a>
            </li>
        </ul>

        <!-- Usuário -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" style="cursor: pointer;" dropdownToggle>
                    Usuario
                </a>

                <ul *dropdownMenu class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" style="cursor: pointer;">Perfil</a></li>
                    <li><a (click)="logout()" class="dropdown-item" style="cursor: pointer;">Sair</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>